# Ignore all files in data subdirectories and any .pt files or images.
**/data/*
**/*.pt
**/*.png


.vscode/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints