# Ignore data, outputs and model files in any week directory for DLVM
DeepLatentVarModels/*/data/*
DeepLatentVarModels/*/model.pt
DeepLatentVarModels/*/samples.png
DeepLatentVarModels/*/flowprior.pt



.vscode/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints